@model EditModel
@{ 
    Layout = "_LayoutRestricted";
    ViewData["Title"] = "Edit Report";
}

<script type="application/javascript">
    function onSuccess() {
        let redirectUrl = document.getElementById("redirectUrl").attributes["data-redirect-url"].value;
        if (redirectUrl !== "") {
           window.document.location = redirectUrl;
        }
    }
</script>

<form class="form-edit" method="post" asp-controller="Report" asp-action="Editor"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-mode="replace"
      data-ajax-update="#editorFormContent"
      data-ajax-success="onSuccess">
    <div id="editorFormContent">
        @{ await Html.RenderPartialAsync("EditorFormContent"); }
    </div>
</form>
