@{
    Layout = "_Layout";
}

@section scripts {
    @RenderSection("scripts", required: false)
}

@section nav {
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        @RenderSection("nav", required: false)
    </div>
    <a class="btn btn-primary ml-3" asp-area="" asp-controller="Auth" asp-action="Logout">Выйти</a>
}

@RenderBody()