@section scripts {
    @RenderSection("scripts")
}

@section nav {
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Veiw Reports<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <a class="btn btn-primary" asp-area="" asp-controller="Auth" asp-action="Logout">Выйти</a>
}

@RenderBody()