@using Microsoft.AspNetCore.Mvc.Localization

@model AuthModel
@inject IViewLocalizer Localizer

@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<form class="form-signin" method="post" asp-controller="Auth" asp-action="Login">
    <input type="hidden" asp-for="ReturnUrl"/>
    <h2 class="title">@Localizer["Login_Title"]</h2>
    <div class="form-group">
        <input type="text" class="form-control" placeholder=@Localizer["Login_Phone"] asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder=@Localizer["Login_Password"] asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div asp-validation-summary="All"></div>
    <a class="float-left" asp-area="" asp-controller="Auth" asp-action="Register">@Localizer["Login_CreateAccount"]</a>
    <div class="float-right">
        <button class="btn btn-primary" type="submit">@Localizer["Login_Enter"]</button>
    </div>
</form>