@model RegisterModel
@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Register";
}

<script type="application/javascript">
    function onSuccess() {
        let redirectUrl = document.getElementById("redirectUrl").attributes["data-redirect-url"].value;
        if (redirectUrl !== "") {
            window.document.location = redirectUrl;
        }
    }
</script>

<form class="form-register" method="post" asp-controller="Auth" asp-action="Register"
        data-ajax="true"
        data-ajax-method="post"
        data-ajax-mode="replace"
        data-ajax-update="#registerFormContent"
        data-ajax-success="onSuccess">
    <div id="registerFormContent">
        @{ await Html.RenderPartialAsync("RegisterFormContent");}
    </div>
</form>